@import url("https://fonts.googleapis.com/css?family=Varela Round");

:root {
  --purple: #461399;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Varela Round", Sans-serif;
  font-weight: normal;
}

header h1 {
  font-size: 24px;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 65em;
  flex-wrap: wrap;
  padding: 7em;
}

input {
  outline: none;
  border: none;
  padding: 12px;
  font-size: 15px;
  border: 2px solid rgb(128, 128, 128);
  border-radius: 10px;
  width: 30%;
}

.btn {
  font-size: 28px;
  background-color: var(--purple);
  border-radius: 10px;
  padding: 10px 25px;
  color: white;
  border: none;
  display: block;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 10px;
}

.answers {
  width: 100%;
}

.answers-btn {
  white-space: normal;
  font-size: 28px;
  background-color: var(--purple);
  border-radius: 10px;
  padding: 10px 20px;
  color: white;
  border: none;
  display: block;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 10px;
}

.submit-btn {
  font-size: 20px;
  background-color: var(--purple);
  border-radius: 10px;
  color: white;
  border: none;
  padding: 10px;
  margin: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 60em;
  margin: 0 auto;
}

.questions h1 {
  font-size: 72px;
  padding-bottom: 30px;
  font-weight: bold;
}

.questions h2 {
  font-size: 48px;
  padding-bottom: 30px;
  font-weight: lighter;
}

.questions h3 {
  font-size: 36px;
  padding-bottom: 30px;
  font-weight: lighter;
}

.info p {
  font-size: 24px;
  margin-bottom: 30px;
}

.results {
  margin: 0 auto;
  margin-top: 20px;
  width: 60%;
  color: #c5c5c5;
}

.border-active {
  border-top: 2px solid #c5c5c5;
  margin: 40px;
}

.border-none {
  border: none;
}

.highscores {
  width: 70%;
  text-align: left;
  justify-content: center;
  margin: 0 auto;
  background-color: #1900ff80;
  padding: 10px;
  border-radius: 10px;
  color: white;
}

.highscores-border {
  border-bottom: 1px dotted #aaaaaa;
  padding: 10px;
}

.view-highscores {
  border: none;
  font-size: 24px;
  background-color: white;
  color: purple;
}

.highscores-none {
  padding: 10px;
}

.results h3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px;
  font-size: 40px;
}

@media screen and (max-width: 1440px) {

  header{
    width: 60%;
  }

}

@media screen and (max-width: 980px) {

  .answers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .questions h1 {
    font-size: 60px;
  }
  
  .questions h2 {
    font-size: 36px;
  }

  .container {
    width: 50%;
  }

  .results {
    width: 100%;
  }

}
